@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 98%;
    --foreground: 214 58% 15%;

    --card: 0 0% 100%;
    --card-foreground: 214 58% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 214 58% 15%;

    --primary: 176 79% 26%;
    --primary-foreground: 0 0% 100%;

    --secondary: 209 32% 94%;
    --secondary-foreground: 214 58% 15%;

    --muted: 209 32% 94%;
    --muted-foreground: 213 13% 44%;

    --accent: 176 36% 90%;
    --accent-foreground: 176 79% 22%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 153 71% 30%;
    --success-foreground: 152 82% 10%;

    --border: 209 25% 84%;
    --input: 209 25% 84%;
    --ring: 176 79% 26%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 58% 15%;
    --foreground: 0 0% 100%;

    --card: 214 52% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 214 52% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 175 76% 37%;
    --primary-foreground: 214 58% 15%;

    --secondary: 213 44% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 213 44% 20%;
    --muted-foreground: 209 27% 74%;

    --accent: 176 45% 23%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 54%;
    --destructive-foreground: 0 0% 100%;

    --success: 151 60% 53%;
    --success-foreground: 150 80% 9%;

    --border: 213 30% 30%;
    --input: 213 30% 30%;
    --ring: 175 76% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  ::selection {
    @apply bg-primary/20 text-foreground;
  }
}
